/* .header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(159, 157, 157);
 
 
 
 } */
 .bank_details-border{
   border:solid 1px rgb(17, 191, 235);
   margin: 9px;
}
 .bankdetails-input:focus{
  
    border-color: #4a90e2; 
  background-color: #f0f8ff; 
  box-shadow: 0 0 6px rgba(74, 144, 226, 0.5); 
  outline: none; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    
 }
 .bank_details-container{
   display: flex;
   justify-content: space-between;
  
}
 .college_details{
   border:solid 1px rgba(155, 154, 154, 0.902);
   margin: 65px;
}
 .bank-details-part1 div:not(.bank-details-radio){
  
      line-height: 50px;
      margin-left:150px;
     
   
}
.bank-details-part2 div:not(.bank-details-radio){
   line-height: 50px;
   margin-right: 100px;
   
   
}
.bankdetails-input,select:not(.bank-details-radio){
   width:500px;
   height: 5vh;
   margin: 20px 0;
   padding: 2px 5px;
   border-radius: 10px;  
   outline: 0;
   border-radius: 5px;
   font-size: 16px;
   color: #333;
   background-color: #f9f9f9;
   transition: border-color 0.3s, box-shadow 0.3s;
   /* background-color: green; */
}
.bank-details-radio{
   width:15px;
   margin-left: 3px;
 

}
.bank-details-error{
    color:red;
    margin-left:10px;
 }
 /* #government_logo{
    height:50px;
    width:50px;
    margin-left:40px;
    border-radius:70px;
    margin-top:10px;
 } */
 .bank-details-save{
    background-color:rgb(12, 118, 12);
    position:relative;
    left:500px;
    height:30px;
    margin-bottom:20px;
    border-color:rgb(12, 118, 12);
    border-radius: 5px;
    color:white;
    width:150px;
    cursor: pointer;
 }

 .college_details-district{
   width:400px;
   height:30px;
 }
 .bank-details-save{
   background-color:rgb(12, 118, 12);
   position:relative;
   left:500px;
   height:30px;
   margin-bottom:20px;
   border-color:rgb(12, 118, 12);
   border-radius: 5px;
   color:white;
   width:150px;
   cursor: pointer;
}
#back{
   position:relative;
   left:700px;
   height:30px;
   margin-bottom:20px;
   border-radius: 5px;
   background-color: rgb(22, 72, 252);
   width:100px;
   border-color:rgb(22, 72, 252);
   color:white;
   cursor:pointer;
}